<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>NSF StarMetrics API Documentation</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
</head>
<body data-offset="50" data-target=".scrollspy" data-spy="scroll">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">NSF StarMetrics API</a>
			<div class="nav-collapse">
				<ul id="mainnav" class="nav">
					<% GLOBAL['resources'].each do |resource,params| %>					
						<li<%= controller_name=='pages' && action_name=='content' && @resource == resource ? raw(' class="active"'): '' %>><%= link_to params['title'], content_path(resource) %></li>
					<% end %>
					<li<%= controller_name=='pages' && action_name == 'examples' ? raw(' class="active"'): '' %>><%= link_to "Examples", examples_path('introduction',1) %></li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown" id="menu1">
						<a href="#menu1" class="dropdown-toggle" data-toggle="dropdown">Tools &amp; Resources <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li><%= link_to "Downloads", pages_downloads_path %></li>
							<li><%= link_to "SDK", pages_sdk_path %></li>
							<li><%= link_to "Organization List", pages_orglist_path %></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container" id="main" role="main">
	<%= yield %>
</div>

<script type"text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'apidoc'; // required: replace example with your forum shortname
var disqus_identifier = "<%=@disqus_identifier%>";
var disqus_title = "<%=@disqus_title%>";

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script');
	dsq.type = 'text/javascript';
	dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();

(function () {
    var s = document.createElement('script'); 
	s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());		
</script>
</body>
</html>